<!-- Agenda Section -->
<section id="agenda" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preliminary Schedule</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in site.data.autoai_fm.agenda %}
                        <tr>
                            <td>{{ item.time }}</td>
                            <td>{{ item.session }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>